transformers == 2.3.0
pandas == 1.0.0
numpy == 1.18.1
matplotlib == 3.1.3
alphaVantage-api
bayesian-optimization
seaborn
sqlalchemy
tensorflow-gpu
networkx
git+https://github.com/notadamking/tensortrade.git
keras
stochastic
plotly
ccxt

deap
a